<h1>
  {{title}}
</h1>
<div>
  <input type="text" [(ngModel)]="post.title">
</div>
<div>
  <input type="textarea" [(ngModel)]="post.description">
</div>
<div>
  <button (click)="savePost(post)">Save</button>
</div>
<hr/>
<h2>Posts: </h2>
<div>
  <div *ngFor="let post of posts" >
    <a (click)="selectPost(post)" href="#">Select</a>
    <a (click)="deletePost(post)" href="#">Delete</a>
    <span>{{post.title}}</span>
    <span>{{post.description}}</span>
  </div>
</div>